.cantidadIcono {
    position: relative;
    top: -20%;
    left: 55%;
    background: rgba(109, 211, 62, 0.842);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: 1px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 2px;
}